<template>
    <div class="col-sm-12 col-lg-5 text-justify">
        <div class="row">
            <div class="col-sm-12">
                <p class="biography">
                    Maud Gourdon (b. 1991, France) is a visual artist based in Brussels, who work predominantly with drawing, writing and sculpture. <br />
                    Gourdon's installations always result from intimate stories and objects that she wraps into wordplay, line-play and multiple forms. Her investigation is coursing through history and traditions searching for possible connections — through analogy, homophony, homography, coincidence, slip of the pen or tongue — in order to gather materials to create present day fictions. This way to draw connections is for her a model of story telling.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p class="biography">
                    Maud obtained her MA in Fine Arts at <i>KASK</i> (Ghent, Belgium), in 2017. She completed her BA in Communication at <i>La Hear</i> (Strasbourg, France) in 2014. 
                    She recently exhibited her work at <i>M-Museum</i> (Leuven, BE), <i>Cas-co</i> (Leuven, BE), <i>Charles Vandenhove Pavilion</i> (Ghent, BE), <i>Le Transpalette</i> (Bourges, FR),  <i>S.M.A.K</i> (Ghent, BE), <i>le 19</i>, <i>CRAC Montbelliard</i> (France),
                    <i>Damien and the Love Guru</i>, (Bruxelles, BE), <i>Kiosk</i> (Gand, BE) among other.
                </p>
            </div>
        </div>
        <div>
            <a class='underlined' href="https://storage.gra.cloud.ovh.net/v1/AUTH_0697890e15ad4098b140de1fed916171/maudgourdon.com/files/TherolinguisticTale/Interview_M_Magazine.pdf">Interview M-Magazine</a><br />
            <a class='underlined' href="https://storage.gra.cloud.ovh.net/v1/AUTH_0697890e15ad4098b140de1fed916171/maudgourdon.com/files/ConversationWithBasBlaasse.pdf">Conversation with Bas Blaasse</a>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-sm-12 nospace">
                <h3>Contact</h3>
                <p class="contact-email"><a class="back2top" href="mailto:info@maudgourdon.com">info@maudgourdon.com</a></p>
            </div>
        </div>
    </div>
</template>

<style lang="css" scoped>
a, a:active, a:hover, a:visited {
    color: #000;
}
.nospace {
    line-height: 10px;
}
</style>
